@import "~@/common/stylus/variable"

.rank
  position: fixed;
  width: 100%;
  top: 79px;
  bottom: 0;
  .switch-wrapper
    box-sizing: border-box
    padding: 10px 0 20px 0
  .paint-rank-wrapper
    position: relative
    height calc(100% - 56px)
    overflow hidden
    .loading-container
        position: absolute
        width: 100%
        top: 50%
        transform: translateY(-50%)
