@import "~@/common/stylus/variable"

.rank
  position: fixed;
  width: 100%;
  top: 79px;
  bottom: 0;
  .switch-wrapper
    position relative
    margin: 10px 0 20px 0
  .paint-rank-wrapper
    position relative
    height 532px
    overflow hidden
