@import '~@/common/stylus/variable.styl';

.paint
  position: fixed;
  width: 100%;
  top: 79px;
  bottom: 0;
  .paint-content
    height 100%
    overflow: hidden
    .slider-wrapper
      position: relative
      width: 100%
      height 0
      padding-top: 23.2%
      overflow: hidden
      .slider-content
        position: absolute
        top: 0
        left: 0
        width: 100%
        height 100%
    .paint-list
      .list-title
        height 65px;
        line-height: 65px;
        text-align: center;
        font-size: $font-size-medium
        color: $color-theme
    .loading-container
      position: absolute
      width: 100%
      top: 50%
      transform: translateY(-50%)