@import '~@/common/stylus/variable.styl'

.m-header
  position relative;
  height 35px;
  text-align: center
  font-size 0;
  color: $color-theme
  .icon
    display inline-block;
    vertical-align top;
    width 60px;
    height 35px;
    margin-right: 12px
    background-size 60px 35px;
    background-image url('./header.png');
  .text
    display inline-block
    vertical-align: top
    line-height: 35px
    font-size: $font-size-large
  .mine
    position: absolute
    top: 0
    right: 0
    bottom: 0
    .icon-mine
      display: block
      padding: 6px
      font-size: 20px
      color: $color-theme