@import '~@/common/stylus/variable.styl'

.user-center
  position: fixed;
  width: 100%;
  top: 0;
  left 0;
  right: 0
  bottom: 0;
  z-index: 100
  background: $color-background
  .back
    position: absolute
    top: 0
    left: 6px
    z-index 50
    .icon-back
      display block
      padding: 10px
      font-size: $font-size-large-x
      color: $color-theme
  .switch-wrapper
    box-sizing: border-box
    padding: 10px 0 30px
  .hisotry-wrapper
    position absolute
    top: 72px
    bottom: 0
    overflow hidden
    .loading-container
      position: absolute
      width: 100%
      top: 50%
      transform: translateY(-50%)